<!-- <h1>Liste de Pokemons</h1>
<input #input 
(keyup.enter) ="selectPokemon(input.value)"
type="text"
> -->
<!-- <p *ngIf="pokemonSelected">
    Vous avez selectioner le pokemon: {{pokemonSelected?.name}}</p>
   -->
<!-- <p *ngIf="pokemonSelected">Vous avez selectioner le pokemon: {{pokemonSelected?.name}}</p>
   <p *ngIf="!pokemonSelected">Vous n'avez pas d'element selectioner</p> -->

<nav>
    <div class="nav-wrapper teal">
        <a href="#" class="brand-logo center"> pokedex</a>
    </div>
</nav>

<!-- app.component.html -->
<!-- <h1>Liste de toutes les races de chiens</h1> -->
<!-- <ul>
  <li *ngFor="let breed of dogBreeds">
    {{ breed }}
    <img [src]="'https://dog.ceo/api/breed/' + breed + '/images/random'" alt="{{ breed }}">
  </li>
</ul> -->

<!-- app.component.html -->

<!-- app.component.html -->
<!-- 
<div *ngFor="let pokemon of pokemonList">
  <h2>Nom du Pokémon : {{ pokemon.name }}</h2>
  <img [src]="pokemon.image" alt="Pokemon">
</div> -->

<!-- app.component.html -->

<!-- <div *ngFor="let pokemon of pokemonList">
  <h2>Nom du Pokémon : {{ pokemon.name }}</h2>
  <h3>Type : {{ pokemon.type }}</h3>
  <p>Points de vie : {{ pokemon.hp }}</p>
  <p>Dégâts d'attaque : {{ pokemon.attack }}</p>
  <p>{{pokemon.id}}</p>
  <img [src]="pokemon.image" alt="Pokemon">
</div> -->

  
<router-outlet></router-outlet>

